.buttonContainer {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.logo {
  font-size: 2rem;
  background: linear-gradient(45deg, rgb(74, 246, 149), rgb(190, 242, 47));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.active::after {
  transform: scale(1);
}